# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
.next
.turbo

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp

# Prisma
*.db
*.db-journal

# Test coverage
coverage

# Docker
.docker-data
